<!DOCTYPE html>
    <head>
         {%load static%}
          <meta charset="utf-8">
          
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>ICoutsource</title>
          <meta name="description" content="">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="{%static 'main2.css'%}">
          
    </head>
    <body style="background-color: green;">
          
        
        

        <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
        <script>
          window.botpressWebChat.init({
              "composerPlaceholder": "Chat with George",
              "botConversationDescription": "This is George",
              "botId": "60fe5dc9-0491-4821-aec1-9a8a7ec75dd9",
              "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
              "messagingUrl": "https://messaging.botpress.cloud",
              "clientId": "60fe5dc9-0491-4821-aec1-9a8a7ec75dd9",
              "lazySocket": true,
              "botName": "George",
              "useSessionStorage": true
          });
        </script>
        </body>

</html> 